---
title: Projects
last_updated: December 3, 2023 at 12:57 PM
---

<h2><a href="/projects/beyond-origins">Beyond Origins</a></h2>
<h2><a href="https://github.com/egartley/game-tracker">Game Tracker</a></h2>
<h2><a href="https://github.com/egartley/pegasus">Pegasus</a></h2>
<h2><a href="https://github.com/egartley/site-manager">Site Manager</a></h2>
<h2><a href="https://github.com/egartley/exoplanets">Exoplanets</a></h2>
