div#details-container {
    margin-top: 26px;
    font-size: 14px
}

div#details-container img.details-icon {
    margin-right: 12px;
    box-shadow: 0 0 4px #000
}

span#title {
    font-size: 22px
}

span#title img {
    margin-left: 8px;
    padding-bottom: 2px
}