---
title: Game Details
last_updated: July 29, 2023 at 12:21 PM
---

<link href="/stylesheets/game-details-style.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="application/javascript"></script>
<script src="/javascripts/game-details.js" type="application/javascript"></script>
<p id="loading">Loading... (make sure javascript is enabled)</p>
<div id="details-container" class="flex" style="display:none">
    <div id="icon-container" class="flex">
        <img class="details-icon" alt="icon" src="/images/B1cZjrwAuuPI9Cyd/blank.png">
    </div>
    <div id="inner-details-container" class="flex col">
        <span id="title" class="bold flex"></span>
        <span><span id="year"></span>, <span id="company"></span></span>
        <span id="platform"></span>
        <span><br></span>
        <span><span class="bold">Hours played:</span> <span id="hours"></span></span>
        <span><span class="bold">Playthroughs:</span> <span id="playthroughs"></span></span>
        <span><span class="bold">Rating:</span> <span id="rating"></span> out of 5</span>
    </div>
</div>
<div id="notes-container" style="display:none"></div>
