<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link href="/resources/ico/favicon.ico" rel="icon">
<link href="/resources/ico/favicon.ico" rel="shortcut icon" type="images/x-icon">
<link href="/resources/css/style.css" rel="stylesheet" type="text/css">
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/script.js" type="application/javascript"></script>
<meta http-equiv="cleartype" content="on">
<meta name="identifier-URL" content="https://egartley.net">
<meta name="description" content="Click or tap to view this page">
<meta name="language" content="en">
<meta name="format-detection" content="telephone=no">
<meta name="google" value="notranslate">
<meta name="google" content="nositelinkssearchbox">
<!-- I have never seen a thin person drinking  Diet Coke. -->
<!-- Barney Frank looked disgusting--nipples protruding--in his blue shirt before Congress. Very very disrespectful. -->
<!-- Healthy young child goes to doctor, gets pumped with massive shot of many vaccines, doesn't feel good and changes - AUTISM. Many such cases! -->
<!-- The Corrupt News Media is totally out of control - they have given up and don’t even care anymore. Mainstream Media has ZERO CREDIBILITY - TOTAL LOSERS! -->
<!-- Sorry losers and haters, but my I.Q. is one of the highest -and you all know it! Please don't feel so stupid or insecure,it's not your fault -->
<!-- North Korean Leader Kim Jong Un just stated that the “Nuclear Button is on his desk at all times.” Will someone from his depleted and food starved regime please inform him that I too have a Nuclear Button, but it is a much bigger & more powerful one than his, and my Button works! -->
<!-- Why would Kim Jong-un insult me by calling me "old," when I would NEVER call him "short and fat?" Oh well, I try so hard to be his friend - and maybe someday that will happen! -->
<!-- How long did it take your staff of 823 people to think that up--and where are your 33,000 emails that you deleted? -->
<!-- The United States of America was not involved in the catastrophic accident during final launch preparations for the Safir SLV Launch at Semnan Launch Site One in Iran. I wish Iran best wishes and good luck in determining what happened at Site One. -->
<!-- To Iranian President Rouhani: NEVER, EVER THREATEN THE UNITED STATES AGAIN OR YOU WILL SUFFER CONSEQUENCES THE LIKES OF WHICH FEW THROUGHOUT HISTORY HAVE EVER SUFFERED BEFORE. WE ARE NO LONGER A COUNTRY THAT WILL STAND FOR YOUR DEMENTED WORDS OF VIOLENCE & DEATH. BE CAUTIOUS! -->