<span class="home-container flex center-items">
    <span class="home-button" onclick="navigate('/')">
        <img src="/resources/png/home-button.png">
    </span>
    <span class="home-title flex col">
        <span id="title">{{ site.title }}</span>
    </span>
</span>
<span class="nav-elements flex center-items">
    <div class="hitbox center-text center-items flex col" onclick="navigate('/')">
        <span class="text">Home</span>
        <span class="totk-border-top"></span>
        <span class="totk-border-left"></span>
        <span class="totk-border-right"></span>
        <span class="totk-gold-accent"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('https://github.com/egartley')">
        <span class="text flex center-items">GitHub <img style="margin-left:6px" src="/resources/png/new-tab.png"></span>
        <span class="totk-border-top"></span>
        <span class="totk-border-left"></span>
        <span class="totk-border-right"></span>
        <span class="totk-gold-accent"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('/projects/')">
        <span class="text">Projects</span>
        <span class="totk-border-top"></span>
        <span class="totk-border-left"></span>
        <span class="totk-border-right"></span>
        <span class="totk-gold-accent"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('/games/')">
        <span class="text">Games</span>
        <span class="totk-border-top"></span>
        <span class="totk-border-left"></span>
        <span class="totk-border-right"></span>
        <span class="totk-gold-accent"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('/records/')">
        <span class="text">Records</span>
        <span class="totk-border-top"></span>
        <span class="totk-border-left"></span>
        <span class="totk-border-right"></span>
        <span class="totk-gold-accent"></span>
    </div>
</span>