<span class="home-container flex center-items">
    <span class="home-button" onclick="navigate('/')">
        <img src="/resources/png/home-button.png">
    </span>
    <span class="home-title flex col">
        <span id="title">{{ site.title }}</span>
        <span class="small-text" id="subtitle">{{ site.subtitle }}</span>
    </span>
</span>
<span class="nav-elements flex center-items">
    <div class="hitbox center-text center-items flex col{% if page.base_url == "/" %} active{% endif %}" onclick="navigate('/')">
        <span class="text">Home</span>
        <span class="dot"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('https://github.com/egartley')">
        <span class="text">GitHub</span>
        <span class="dot"></span>
    </div>
    <div class="hitbox center-text center-items flex col{% if page.base_url == "/projects/" %} active{% endif %}" onclick="navigate('/projects/')">
        <span class="text">Projects</span>
        <span class="dot"></span>
    </div>
    <div class="hitbox center-text center-items flex col{% if page.base_url == "/projects/exoplanets/" %} active{% endif %}" onclick="navigate('/projects/exoplanets/')">
        <span class="text">Exoplanets</span>
        <span class="dot"></span>
    </div>
    <div class="hitbox center-text center-items flex col{% if page.base_url == "/projects/pegasus/" %} active{% endif %}" onclick="navigate('/projects/pegasus/')">
        <span class="text">Pegasus</span>
        <span class="dot"></span>
    </div>
</span>