<span class="home-container flex center-items">
    <span class="home-button" onclick="navigate('/')">
        <img alt="home" src="/resources/webp/lhXJgu568hz8UhGF/home-button.webp">
    </span>
    <span class="home-title" onclick="navigate('/')">{{ site.title }}</span>
</span>
<span class="nav-elements flex center-items">
    <div class="hitbox center-text center-items flex col" onclick="navigate('https://github.com/egartley')">
        <span class="nav-text flex center-items">GitHub <img style="margin-left:6px" src="/resources/webp/lhXJgu568hz8UhGF/new-tab.webp"></span>
        <span class="spacer"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('/projects/')">
        <span class="nav-text">Projects</span>
        <span class="spacer"></span>
    </div>
    <div class="hitbox center-text center-items flex col" onclick="navigate('/records/')">
        <span class="nav-text">Records</span>
        <span class="spacer"></span>
    </div>
</span>