<div class="widget">
    <div class="widget-title">Around the Web</div>
    <div class="widget-content widget-social">
        <div class="flex">
            <div class="flex">
                <div class="center-items">
                    <img alt="github" src="/resources/png/github.png">
                    <span id="text"><a href="https://github.com/egartley" rel="external nofollow noreferrer noopener">GitHub</a></span>
                </div>
                <div class="center-items">
                    <img alt="youtube" src="/resources/png/youtube.png">
                    <span id="text"><a href="https://www.youtube.com/channel/UCamOkqzQnTdeybmL5FF9JFg" rel="external nofollow noreferrer noopener">YouTube</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer grad-flow fill"></div>
<div class="widget">
    <div class="widget-content widget-netlify">
        <div style="display:flex;align-items:center"><img style="margin-right:12px;width:36px;height:36px" src="/resources/png/netlify.png"><span>Powered by <a href="https://netlify.com">Netlify</a></span></div>
    </div>
</div>
<div class="spacer grad-flow fill"></div>
<div class="widget">
    <div class="widget-title"></div>
    <div class="widget-content widget-usa">
        <img src="/resources/svg/flag.svg" style="width:100%;height:100%">
    </div>
</div>
<div class="spacer grad-flow fill"></div>
<div class="widget">
    <div class="widget-title"></div>
    <div class="widget-content widget-build">
        <span style="color:var(--secondary-text-color-dark)">
            Last built on <span class="bold">{{ "now" | date: "%B %d, %Y at %I:%M %p (GMT)" }}</span><br>
            <a href="https://github.com/egartley/net">View Source Code</a>
        </span>
    </div>
</div>
