<div class="widget">
    <div class="widget-title">Networking</div>
    <div class="widget-content widget-social">
        <div class="flex">
            <div class="flex">
                <div class="center-items" onclick="navigate('https://twitter.com/egartley')">
                    <img alt="twitter" src="/resources/png/twitter.png">
                    <span id="text">Twitter</span>
                </div>
                <div class="center-items" onclick="navigate('https://www.linkedin.com/in/evan-gartley')">
                    <img alt="linkedin" src="/resources/png/linkedin.png">
                    <span id="text">LinkedIn</span>
                </div>
                <div class="center-items" onclick="navigate('https://www.youtube.com/channel/UCamOkqzQnTdeybmL5FF9JFg')">
                    <img alt="youtube" src="/resources/png/youtube.png">
                    <span id="text">YouTube</span>
                </div>
            </div>
            <div class="flex">
                <div class="center-items" onclick="navigate('https://github.com/egartley')">
                    <img alt="github" src="/resources/png/github.png">
                    <span id="text">GitHub</span>
                </div>
                <div class="center-items" onclick="navigate('https://open.spotify.com/user/iy1n0umv28tfvftvhvbhz6fvr?si=DXaBZy6IRiSs2qUr0WVmFg')">
                    <img alt="spotify" src="/resources/png/spotify.png">
                    <span id="text">Spotify</span>
                </div>
                <div  class="center-items"onclick="navigate('https://parler.com/profile/egartley')">
                    <img alt="parler" src="/resources/png/parler.png">
                    <span id="text">Parler</span>
                </div>
            </div>
            <div class="flex">
                <div class="center-items" onclick="navigate('https://stackoverflow.com/users/13954969/evan')">
                    <img alt="stackoverflow" src="/resources/png/stackoverflow.png">
                    <span id="text">StackOverflow</span>
                </div>
                <div class="center-items" onclick="navigate('https://dlive.tv/egartley')">
                    <img alt="dlive" src="/resources/png/dlive.png">
                    <span id="text">DLive</span>
                </div>
                <div class="center-items" onclick="navigate('https://www.bitchute.com/channel/s46Mpx7gsAte/')">
                    <img alt="bitchute" src="/resources/png/bitchute.png">
                    <span id="text">BitChute</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="widget">
    <div class="widget-title">Latest Commits</div>
    <div class="widget-content widget-commits">
        <a href="https://github.com/egartley/net/commit/a76d6437ea69e1eb66ee7d59b6df061d4685c308">net@a76d643</a><br>
        <a href="https://github.com/egartley/net/commit/c1c2c654cb9c4e3f56d3af2256051088de749602">net@c1c2c65</a><br>
        <a href="https://github.com/egartley/net/commit/8df3606cd9c85dd95ddfb47d867b915b2559da7d">net@8df3606</a><br>
        <a href="https://github.com/egartley/exoplanets/commit/000a1d760d92f377454a36d3c2bee39df680a0fb">exoplanets@000a1d7</a><br>
        <a href="https://github.com/egartley/exoplanets/commit/c4bcaa63a0b5999917291ddf28639d4df340ca40">exoplanets@c4bcaa6</a><br>
        <a href="https://github.com/egartley/exoplanets/commit/119f3e176a345dad5cfb2a6f60b7333b0e94ef5f">exoplanets@119f3e1</a><br>
        <a href="https://github.com/egartley/beyond-origins/commit/779cb34739a518ff39c435dd166943bcde466385">beyond-origins@779cb34</a><br>
        <a href="https://github.com/egartley/school/commit/e0ef52046875604a37be48488f621fa867a31aad">school@e0ef520</a>
    </div>
</div>
<div class="spacer"></div>
<div class="widget">
    <div class="widget-title">Register to Vote</div>
    <div class="widget-content widget-vote">
        <p>Make sure you're registered to vote for election day! Visit the website below to find out how to register in your state.</p>
        <p><a href="https://vote.gov/">https://vote.gov</a></p>
    </div>
</div>