<div class="widget">
    <div class="widget-title">Around the Web</div>
    <div class="widget-content widget-social">
        <div class="flex">
            <div class="flex">
                <div class="center-items">
                    <img alt="github" src="/resources/png/nmn8uQRPqx4FOopD/github.png">
                    <span id="text"><a href="https://github.com/egartley" rel="external nofollow noreferrer noopener">GitHub</a></span>
                </div>
                <div class="center-items">
                    <img alt="youtube" src="/resources/png/nmn8uQRPqx4FOopD/youtube.png">
                    <span id="text"><a href="https://www.youtube.com/@egartley" rel="external nofollow noreferrer noopener">YouTube</a></span>
                </div>
            </div>
            <div class="flex">
                <div class="center-items">
                    <img alt="linkedin" src="/resources/png/nmn8uQRPqx4FOopD/linkedin.png">
                    <span id="text"><a href="https://www.linkedin.com/in/evan-gartley/" rel="external nofollow noreferrer noopener">LinkedIn</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="spacer"></span>
<div class="widget">
    <div class="widget-title">Release Radar</div>
    <div class="widget-content widget-releaseradar">
        <style type="text/css">
            div.rrdiv{margin-bottom:12px;margin-left:-12px}div.rrdiv>img{margin-left:12px;width:72px;height:72px}img#silksong{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) 0px 0px}img#ttyd{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) -72px -72px}img#ff7rebirth{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) -72px 0px}img#ds2{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) -144px 0px}img#kh4{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) 0px -72px}img#ronin{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) -144px -72px}img#sh2{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) 0px -144px}img#smrpg{background:url(/resources/png/nmn8uQRPqx4FOopD/release-radar.png) -72px -144px}
        </style>
        <div class="flex rrdiv">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="silksong" title="Hollow Knight: Silksong">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="kh4" title="Kingdom Hearts IV">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="ds2" title="Death Stranding 2">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="ttyd" title="Paper Mario: The Thousand-Year Door">
        </div>
        <div class="flex rrdiv">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="ronin" title="Rise of the Ronin">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="sh2" title="Silent Hill 2 Remake">
            <img src="/resources/png/B1cZjrwAuuPI9Cyd/blank.png" id="ff7rebirth" title="Final Fantasy VII: Rebirth">
        </div>
        <p><a href="/records/games">View all played games</a></p>
    </div>
</div>
<span class="spacer"></span>
<div class="widget">
    <div class="widget-content widget-build">
        <span style="color:lightgrey">
            <a href="/sitemap">Sitemap</a> • Release <a href="https://github.com/egartley/net">{{ "now" | date: "%y.%m%d-%H%M" }}</a><br>
            Theme: greystone
        </span>
    </div>
</div>
