div#details-container { margin-top: 26px; font-size: 14px }
div#details-container > div#icon-container { margin-right: 24px; width: 200px; height: 200px; align-items: center }
div#details-container img.details-icon { margin-right: auto; margin-left: auto; display: block; box-shadow: 0 0 4px #000 }
span#title { font-size: 22px; align-items: center }
span#title > span, span#title > img { margin-left: 8px }
span#title > span { margin-left: 8px; font-size: 11px; padding: 0 3px; border-radius: 4px }
span#title > span.hundo { background-color: #367CE2 }
span#title > span.dlc { background-color: #5D27D5 }
div#notes-container { margin-top: 36px }
@media screen and (max-width:1072px) {
    div#details-container { flex-direction: column }
    div#details-container > div#icon-container { margin-right: 0; margin-bottom: 24px }
}