---
title: Game Recordings
last_updated: January 12, 2026 at 1:03 PM
---

<style type="text/css">h2{margin-block-end:0}p{margin-top:0}</style>
<h2>Planned</h2>
<p>Control Resonant<br>
Cronos: The New Dawn<br>
Hell is Us<br>
Lords of the Fallen<br>
Ontos<br>
Phantom Blade Zero<br>
The Duskbloods<br>
The Elder Scrolls IV: Oblivion Remastered<br>
Resident Evil Requiem<br>
Returnal</p>

<h2>In-Progress</h2>
<p>Dark Souls II (Seeker of Fire mod)</p>

<h2>Pending Upload</h2>
<p>Black Mesa<br>
Control<br>
Dark Souls III (Convergence mod)<br>
Donkey Kong Bananza<br>
Elden Ring Nightreign<br>
Elden Ring: Shadow of the Erdtree<br>
Epic Mickey: Rebrushed<br>
Hogwarts Legacy<br>
Hollow Knight: Silksong<br>
Metroid Prime 4: Beyond<br>
No Man's Sky<br>
Stellar Blade<br>
The Legend of Zelda: Ocarina of Time (SOH)<br>
Yooka-Replaylee</p>

<h2>Available (Full)</h2>
<p>Playthroughs captured on PC and console. Some console games were emulated.</p>
<p><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf76F6JnaowYGE0WFBhhtOYK">Death Stranding</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6uDiNfXPpMhd798QOYsOkW">Elden Ring</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7NIrJRvb6K08mf2YUPrzy0">Half-Life 2</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf597ioDW5-xU8PYkSbilJzc">Kingdom Hearts Final Mix</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7pH8rRGu_7xkShpuSMdLtK">Kingdom Hearts II Final Mix</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7-RaciTcj6HxIEbpOef4z9">Kingdom Hearts III</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4POK6pAYfB4jZzHbse4AlZ">Lies of P</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4-zr0HTucvufTJh4qG-vWe">Mario & Luigi: Brothership</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5Pt0Al3NURfe5yx_9BwZLV">Mario Kart World</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7AYAE3WlXRvd22r_3ukL5P">Metroid Prime Remastered</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf588cYqQo9Eps8rXQ1e9l-T">Silent Hill 2</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf59xO709bzVWO46UMWyWngg">Silent Hill f</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6d6nPBxDqSapgH3A5ad7P3">Spyro Reignited Trilogy (Spyro the Dragon)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5CjJlEXzQN26bbXlQD-m2f">Spyro Reignited Trilogy (Ripto's Rage)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4-VM3YoXvmmTXxC5q_xOmr">Spyro Reignited Trilogy (Year of the Dragon)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4ZX2FEwZf3CFQGKFDxhyxV">Subnautica</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf50BHzVXCskGgIiP1Eeh799">Super Mario Galaxy 2</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5bAG0oWZr5pT9e4OZtFRfh">The Legend of Zelda: Breath of the Wild</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5KXwDnTZeyBqYFfvC_CeQz">The Legend of Zelda: Echoes of Wisdom</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4qHP1jAhQNaJoYQjpsrqJN">Red Dead Redemption 2</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5Qd0R28yM9xZp21KAtsQtv">Resident Evil Village</a></p>

<h2>Available (Partial)</h2>
<p>These are mostly boss fights captured on PS5.</p>
<p><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7WflOqz_u6dcpPU3QtyCHC">Armored Core VI: Fires of Rubicon</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6VIlz1Bm9GaGcycSE81gsY">Bloodborne</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5GgeAHVBlQo-ArvaK6yORF">Dark Souls II</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4kVeJdQlyUmLarV4nx3guP">Dark Souls III</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4kKr_v1_o6KtCOEya3BJsr">Elden Ring (1st playthrough)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4u73ua3InitatMlFUq_Dtq">Elden Ring (2nd playthrough + DLC)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5EXTsPF1k-6W9g6xzLfXKh">GRIME</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6prRKyDsqCb3e-y2vwCmk3">Kingdom Hearts III</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5MlnyGuajE4DUrN7qW7W6i">Lies of P</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6-e-_7tYUhp3npbNqNt9Fs">Moonscars</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5NsDZK2uTy-0Rg97tJxWW0">Sekiro: Shadows Die Twice</a></p>
