---
title: Game Recordings
last_updated: March 29, 2025 at 7:23 PM
---

<style type="text/css">h2{margin-bottom:0}p{margin-top:0}</style>
<h1>Pending</h1>
<p>Kingdom Hearts II Final Mix (PC)<br>
Kingdom Hearts III (PC)<br>
Lies of P (PC)<br>
Resident Evil Village (PC)<br>
Half-Life 2<br>
The Legend of Zelda: Ocarina of Time (PC decompile)<br>
Subnautica</p>
<h1>Available</h1>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7WflOqz_u6dcpPU3QtyCHC">Armored Core VI: Fires of Rubicon</a></h2>
<p>Captured on PS5, only boss fights</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6VIlz1Bm9GaGcycSE81gsY">Bloodborne</a></h2>
<p>Captured on PS5, only boss fights from second playthrough, includes DLC</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5GgeAHVBlQo-ArvaK6yORF">Dark Souls II</a></h2>
<p>Captured on PS5, only boss fights from second playthrough, includes DLC</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4kVeJdQlyUmLarV4nx3guP">Dark Souls III</a></h2>
<p>Captured on PS5, boss fights and select moments from first playthrough</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6uDiNfXPpMhd798QOYsOkW">Elden Ring (PC)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4kKr_v1_o6KtCOEya3BJsr">Elden Ring (PS5 1st Playthrough)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4u73ua3InitatMlFUq_Dtq">Elden Ring (PS5 2nd Playthrough)</a></h2>
<p>PC version with no mods, third playthrough. PS5 footage is mostly boss fights, some of it is washed out due to HDR</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5EXTsPF1k-6W9g6xzLfXKh">GRIME</a></h2>
<p>Captured on PS5, only boss fights</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf597ioDW5-xU8PYkSbilJzc">Kingdom Hearts Final Mix</a></h2>
<p>PC version, upscaled textures and light mods</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6prRKyDsqCb3e-y2vwCmk3">Kingdom Hearts III</a></h2>
<p>Captured on PS5, only boss fights from second playthrough</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5MlnyGuajE4DUrN7qW7W6i">Lies of P</a></h2>
<p>Captured on PS5, only boss fights from first playthrough</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4-zr0HTucvufTJh4qG-vWe">Mario & Luigi: Brothership</a></h2>
<p>Emulated on PC with 60 FPS mod</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7AYAE3WlXRvd22r_3ukL5P">Metroid Prime Remastered</a></h2>
<p>Emulated on PC</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6-e-_7tYUhp3npbNqNt9Fs">Moonscars</a></h2>
<p>Captured on PS5, only boss fights</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5NsDZK2uTy-0Rg97tJxWW0">Sekiro: Shadows Die Twice</a></h2>
<p>Captured on PS5, only boss fights from first playthrough and any notable NG+ fights</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6d6nPBxDqSapgH3A5ad7P3">Spyro Reignited Trilogy (Spyro the Dragon)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5CjJlEXzQN26bbXlQD-m2f">Spyro Reignited Trilogy (Ripto's Rage)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4-VM3YoXvmmTXxC5q_xOmr">Spyro Reignited Trilogy (Year of the Dragon)</a></h2>
<p>PC version, light mods</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5bAG0oWZr5pT9e4OZtFRfh">The Legend of Zelda: Breath of the Wild</a></h2>
<p>Second playthrough, emulated Wii U version, Second Wind mod, 60 FPS and other light mods</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5KXwDnTZeyBqYFfvC_CeQz">The Legend of Zelda: Echoes of Wisdom</a></h2>
<p>Emulated on PC with 60 FPS mod</p>
<h2><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4qHP1jAhQNaJoYQjpsrqJN">Red Dead Redempetion 2</a></h2>
<p>PC version, no mods, second playthrough</p>
