---
title: Game Recordings
last_updated: April 27, 2025 at 12:31 PM
---

<style type="text/css">h3{margin-bottom:0}p{margin-top:0}</style>
<h1>Pending</h1>
<h3>Kingdom Hearts II Final Mix (PC)</h3>
<h3>Kingdom Hearts III (PC)</h3>
<h3>Lies of P (PC)</h3>
<h3>Resident Evil Village (PC)</h3>
<h3>Half-Life 2</h3>
<h3>The Legend of Zelda: Ocarina of Time (SOH)</h3>
<h3>Subnautica (PC)</h3>
<h3>Hogwarts Legacy (PC)</h3>

<h1>Available (Full)</h1>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6uDiNfXPpMhd798QOYsOkW">Elden Ring (PC)</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf597ioDW5-xU8PYkSbilJzc">Kingdom Hearts Final Mix (PC)</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4-zr0HTucvufTJh4qG-vWe">Mario & Luigi: Brothership</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7AYAE3WlXRvd22r_3ukL5P">Metroid Prime Remastered</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6d6nPBxDqSapgH3A5ad7P3">Spyro Reignited Trilogy (Spyro the Dragon)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5CjJlEXzQN26bbXlQD-m2f">Spyro Reignited Trilogy (Ripto's Rage)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4-VM3YoXvmmTXxC5q_xOmr">Spyro Reignited Trilogy (Year of the Dragon)</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5bAG0oWZr5pT9e4OZtFRfh">The Legend of Zelda: Breath of the Wild (Wii U, SW Mod)</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5KXwDnTZeyBqYFfvC_CeQz">The Legend of Zelda: Echoes of Wisdom</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4qHP1jAhQNaJoYQjpsrqJN">Red Dead Redempetion 2 (PC)</a></h3>

<h1>Available (Partial)</h1>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf7WflOqz_u6dcpPU3QtyCHC">Armored Core VI: Fires of Rubicon</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6VIlz1Bm9GaGcycSE81gsY">Bloodborne</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5GgeAHVBlQo-ArvaK6yORF">Dark Souls II</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4kVeJdQlyUmLarV4nx3guP">Dark Souls III</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4kKr_v1_o6KtCOEya3BJsr">Elden Ring (1st playthrough)</a><br>
<a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf4u73ua3InitatMlFUq_Dtq">Elden Ring (2nd playthrough)</a></h3>
<p>Some footage is washed out due to HDR</p>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5EXTsPF1k-6W9g6xzLfXKh">GRIME</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6prRKyDsqCb3e-y2vwCmk3">Kingdom Hearts III</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5MlnyGuajE4DUrN7qW7W6i">Lies of P</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf6-e-_7tYUhp3npbNqNt9Fs">Moonscars</a></h3>
<h3><a href="https://www.youtube.com/playlist?list=PLVevZ1RzCQf5NsDZK2uTy-0Rg97tJxWW0">Sekiro: Shadows Die Twice</a></h3>
