:root {
	--link-color: #9ec4ff;
	--primary-text-color: whitesmoke;
	--secondary-text-color: lightgrey
}
html {
	min-height: -webkit-fill-available;
	min-height: -moz-available;
	min-height: fill-available;
	background: linear-gradient(45deg, rgba(30,205,255,1) 15%, rgba(0,39,255,1) 50%, rgb(85, 0, 223) 85%)
}
body { color: var(--primary-text-color) }
body,
html { font-family: Poppins, serif }
.page-content>span#meta,
.page-content>span#breadcrumbs { color: var(--secondary-text-color) }
.blur-container {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border-radius: 16px;
	background-color: rgba(0, 0, 0, .45);
	backdrop-filter: blur(5px)
}
a { text-decoration: none; color: var(--link-color) }
a:active,
a:hover { text-decoration: underline }
.root { margin: 12px 22px }
.bold { font-weight: 700 }
.col { flex-direction: column }
.flex { display: flex }
.fill { width: 100% }
.small-text { font-size: 12px }
.center-text { text-align: center }
.center-items { align-items: center }
.spacer { height: 7px; margin-bottom: 18px }
.content { line-height: 1.75; margin-top: 12px; margin-bottom: 22px; min-height: 550px }
.sidebar { padding: 18px; padding-right: 32px; line-height: 1.5; max-width: 400px; height: 100% }
.nav { margin-bottom: 12px; justify-content: space-between }
.nav-elements>.hitbox {
	padding: 12px 16px;
	color: var(--primary-text-color);
	box-shadow: 0 0 1rem 0 transparent;
	border-radius: 8px;
	background-color: transparent;
	backdrop-filter: blur(5px);
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s
}
.nav-elements>.hitbox:hover { cursor: pointer; box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); background-color: rgba(0, 0, 0, .45) }
.nav-elements>.hitbox>span.text { font-size: 20px }
.nav-elements>.hitbox:not(:last-child) { margin-right: 32px }
.home-button { margin-right: 18px }
.home-button>img { width: 52px; height: 52px }
.home-button:hover { cursor: pointer }
.home-container>span.home-title { font-size: 26px; margin-top: -4px }
.home-container>span.home-title:hover { cursor: pointer; text-decoration: underline }
.content-container { justify-content: space-between }
.page-content { margin: 18px }
.page-title { font-size: 42px; margin-bottom: 12px }
.widget { margin: 36px 0 }
.widget-title { font-size: 22px; margin-bottom: 18px }
.widget-social>div { flex-flow: row nowrap; overflow-x: hidden }
.widget-social>div>div { flex-flow: column nowrap }
.widget-social>div>div>div { padding: 14px 34px 14px 6px; display: inline-flex }
.widget-social>div>div>div>img { width: 26px; height: 26px; margin-right: 10px }
.widget-social>div>div>div>span#text { transition: color .3s; font-size: 16px }
.widget-social>div>div>div:hover,
.widget-social>div>div>div:hover>span#text { color: var(--link-color) }
.widget-social>div>div>div>span#text>a { color: var(--primary-text-color) }
.pcard { width: 250px; height: 170px; padding-top: 4px; margin-bottom: 18px }
.pcard:not(:last-child) { margin-right: 12px }
.pcard>a>img { width: 95%; height: 80%; transition: width .25s, height .25s }
.pcard>a>img:hover { width: 99%; height: 84% }
.pcard>span#title { font-weight: 700; margin-top: -18px }

@media screen and (max-width:1072px) {
	.root { justify-content: initial; align-items: initial; align-content: initial; height: initial }
	.nav { border-radius: 0; overflow-x: scroll; min-height: 72px; -webkit-overflow-scrolling: touch }
	.nav,
	body { margin: 0 }
	.home-title { display: none }
	.nav>span.nav-elements>div.hitbox.active { margin-top: 0 }
	.home-container,
	.nav-elements>.hitbox:last-child { margin-right: 24px }
	.home-button,
	.page { margin-right: 0 }
	.home-button { margin-left: 18px }
	.home-button>img { width: 52px; height: 52px }
	.nav-elements>.hitbox:not(:last-child) { margin-right: 16px }
	.content-container { flex-direction: column }
	.page, .sidebar { max-width: 100% }
	.content { min-height: 426px }
	.page-title { font-size: 32px }
	.pcard-container { flex-direction: column }
	.pcard:not(:last-child) { margin-bottom: 14px }
}
