:root { --accent-color: #1363DF; --accent-color-darker: #1054BE; --root-background-color-light: #FFF;  --secondary-background-color-light: #FAFAFA; --secondary-background-color-light-darker: #D4D4D4; --primary-text-color-light: black; --secondary-text-color-light: darkgrey }
body, html { font-family: "Montserrat", serif }
body { background-color: var(--root-background-color-light) }
body, .widget-social>div>div>div>span#text>a { color: var(--primary-text-color-light) }
.card { border-radius: 12px; border: 1px solid; border-color: var(--secondary-background-color-light-darker); background-color: var(--secondary-background-color-light); box-shadow: 0 0 10px 2px var(--secondary-background-color-light-darker); }
.page-content>span#meta { color: var(--secondary-text-color-light) }
a { text-decoration: none; color: var(--accent-color) }
a:active, a:hover { text-decoration: underline }
.root { align-content: flex-start; align-items: flex-start; max-width: 1520px; margin: auto }
.bold { font-weight: bold }
.col { flex-direction: column }
.flex { display: flex }
.fill { width: 100% }
.small-text { font-size: 12px }
.center-text { text-align: center }
.center-items { align-items: center }
.page { flex-grow: 5; margin-right: 18px; max-width: 1050px }
.spacer { height: 1px; margin-bottom: 12px; background: var(--accent-color); box-shadow: 0 0 8px 1px var(--accent-color); width:100% }
.content { line-height: 1.75; margin-top: 12px; margin-bottom: 52px; min-height: 550px }
.sidebar { flex-grow: 2; padding: 26px 18px 18px; line-height: 1.5; max-width: 400px; max-height: 780px }
.nav { width: 100%; min-height: 100px; margin-top: 18px; margin-bottom: 32px }
.nav-elements { flex-grow: 1; margin-right: 24px }
.nav-elements>.hitbox { padding: 12px 16px; background-color: var(--accent-color); border-style: solid; border-color: var(--accent-color-darker); border-width: 2px; border-radius: 12px; display: flex; align-items: center; justify-content: center; box-shadow: 0 0 10px 1px var(--accent-color) }
.nav-elements>.hitbox:hover { cursor: pointer }
.nav-elements>.hitbox>span.text { font-size: 20px; color: white; font-weight: bold }
.nav-elements>.hitbox:not(:last-child) { margin-right: 32px }
.home-container { margin-right: 64px }
.home-button { margin-right: 18px }
.home-button>img { width: 76px; height: 76px }
.home-button:hover { cursor: pointer }
.home-title>span#title { font-size: 28px; margin-bottom: 8px }
.home-title>span#subtitle { font-style: italic }
.content-container { width: 100%; justify-content: space-between; margin-bottom: 12px }
.page-content { margin: 32px 18px 18px }
.page-title { font-size: 42px; margin-bottom: 12px; font-weight: bold }
.sidebar>.spacer { margin-top: 36px; margin-bottom: 36px }
.widget-title { font-size: 22px; font-weight: bold; margin-bottom: 18px }
.widget-social>div { flex-flow: row nowrap; overflow-x: hidden }
.widget-social>div>div { flex-flow: column nowrap }
.widget-social>div>div>div { padding: 14px 34px 14px 6px; display: inline-flex }
.widget-social>div>div>div>img { width: 26px; height: 26px; margin-right: 10px }
.widget-social>div>div>div>span#text { transition: color .3s; font-size: 16px }
.widget-social>div>div>div:hover, .widget-social>div>div>div:hover>span#text { color: var(--accent-color) }
.pcard{width:250px;height:190px;padding-top:4px;cursor:pointer}
.pcard:not(:last-child){margin-right:12px}
.pcard > img{max-width:95%;max-height:95%;transition:max-width 0.3s,max-height 0.3s}
.pcard > img:hover{max-width:100%;max-height:100%}
.pcard > span#title{font-weight:bold}
@media screen and (max-width:1072px){}
@media screen and (max-width:1072px) {
	.root { justify-content: initial; align-items: initial; align-content: initial; height: initial }
	.nav { border-radius: 0; overflow-x: scroll; min-height: 72px; -webkit-overflow-scrolling: touch }
	.nav, body { margin: 0 }
	.nav>span.nav-elements>div.hitbox.active>span.dot, .home-title { display: none }
	.nav>span.nav-elements>div.hitbox.active { margin-top: 0 }
	.home-container, .nav-elements>.hitbox:last-child { margin-right: 24px }
	.home-button, .page { margin-right: 0 }
	.home-button>img { width: 52px; height: 52px }
	.nav-elements>.hitbox:not(:last-child) { margin-right: 16px }
	.content-container { flex-direction: column }
	.card { border-radius: 0 }
	.page, .sidebar { max-width: 100% }
	.content { min-height: 426px }
	.page-title { font-size: 32px }
	.pcard-container{flex-direction:column}
	.pcard:not(:last-child){margin-bottom:14px}
}
@keyframes g {
	0%, 100% { background-position: 0 50% }
	50% { background-position: 100% 50% }
}
