:root {
	--link-color: #ff9900;
	--primary-text-color: whitesmoke;
	--secondary-text-color: lightgrey
}
html { background-color: #1e1e1e }
body { color: var(--primary-text-color) }
body, html { font-family: Poppins, sans-serif }
.page>span#meta, .page>span#breadcrumbs { color: var(--secondary-text-color) }
.page>span#meta { margin-top: 8px }
a { text-decoration: none; color: var(--link-color) }
a:active, a:hover { text-decoration: underline }
.root { margin: auto; margin-top: 16px; max-width: 1600px }

.bold { font-weight: 700 }
.col { flex-direction: column }
.flex { display: flex }
.fill { width: 100% }
.small-text { font-size: 12px }
.center-text { text-align: center }
.center-items { align-items: center }
.spacer {
	display: block; height: 2px;
	background: linear-gradient(90deg, rgb(255, 187, 85) 15%, rgb(255, 153, 0) 50%, rgb(210, 126, 0) 85%)
}

.nav { margin-bottom: 18px; justify-content: space-between; border-radius: 16px }
.nav-elements>.hitbox { padding: 12px 16px; color: var(--primary-text-color) }
.nav-elements>.hitbox>.spacer { width: 75%; height: 1px; margin-top: 4px; transition: width 0.25s; background: var(--link-color) }
.nav-elements>.hitbox:hover { cursor: pointer }
.nav-elements>.hitbox:hover>.spacer { width: 100% }
.nav-elements>.hitbox>span.nav-text { font-size: 20px }
.nav-elements>.hitbox:not(:last-child) { margin-right: 32px }

.home-button { margin-right: 18px; height: 52px }
.home-button>img { width: 52px; height: 52px }
.home-button:hover { cursor: pointer }
.home-container>span.home-title { font-size: 26px }
.home-container>span.home-title:hover { cursor: pointer; text-decoration: underline }

.page, .sidebar { 
	justify-content: space-between;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border-style: solid;
	border-width: 1px;
	border-color: #804d00;
	border-radius: 16px;
	background-color: rgba(0, 0, 0, .45)
}
.page { padding: 18px; width: -moz-available; width: -webkit-fill-available; margin-right: 18px }
.page-title { font-size: 42px }
.content { line-height: 1.75; margin-bottom: 22px; min-height: 550px; font-family: sans-serif }

.sidebar { padding: 18px; padding-right: 32px; line-height: 1.5; max-width: 400px; height: 100% }
.widget { margin: 36px 0 }
.widget:first-child { margin-top: 0 }
.widget:last-child { margin-bottom: 8px }
.widget-title { font-size: 22px; margin-bottom: 18px }
.widget-content { font-family: sans-serif }
.widget-social>div { flex-flow: row nowrap; overflow-x: hidden }
.widget-social>div>div { flex-flow: column nowrap }
.widget-social>div>div>div { padding: 14px 34px 14px 6px; display: inline-flex }
.widget-social>div>div>div>img { width: 26px; height: 26px; margin-right: 10px }
.widget-social>div>div>div>span#text { transition: color .3s; font-size: 16px }
.widget-social>div>div>div:hover,
.widget-social>div>div>div:hover>span#text { color: var(--link-color) }
.widget-social>div>div>div>span#text>a { color: var(--primary-text-color) }

.pcard { width: 250px; height: 170px; padding-top: 4px; margin-bottom: 18px }
.pcard:not(:last-child) { margin-right: 12px }
.pcard>a>img { width: 95%; height: 80%; transition: width .25s, height .25s }
.pcard>a>img:hover { width: 99%; height: 84% }
.pcard>span#title { font-weight: 700; margin-top: -18px }

@media screen and (max-width:1072px) {
	.root { justify-content: initial; align-items: initial; align-content: initial; height: initial; margin-top: 0 }
	.nav, body { margin: 0 }
	.nav { border-radius: 0; overflow-x: scroll; -webkit-overflow-scrolling: touch; padding: 6px }
	.home-title { display: none }
	.home-container { margin-right: 12px }
	.home-button { margin-right: 0; margin-left: 18px; height: 46px }
	.home-button>img { width: 46px; height: 46px }
	.nav-elements>.hitbox:last-child { margin-right: 24px }
	.nav-elements>.hitbox:not(:last-child) { margin-right: 16px }
	.nav-elements>.hitbox>.spacer { display: none }
	.content-container { flex-direction: column }
	.page, .sidebar { max-width: 100%; border-radius: 0; border-width: 0 }
	.page { margin-right: 0 }
	.page-title { font-size: 32px }
	.content { min-height: 426px }
	.sidebar { padding-right: 18px }
	.widget:last-child { margin-bottom: 36px }
	.pcard-container { flex-direction: column }
	.pcard:not(:last-child) { margin-bottom: 14px }
}
