<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - egartley.net</title>
        {% include header.html %}
    </head>
    <body>
        <div class="root flex col">
            <div class="nav flex center-items">
                {% include navigation.html %}
            </div>
            <div class="content-container flex">
                <div class="page-content flex col">
                    <span class="page-title">{{ page.title }}</span>
                    <span class="spacer"></span>
                    <span class="small-text" id="meta"><span class="bold">Last updated:</span> {{ page.last_updated }} (EDT)</span>
                    {% include breadcrumbs.html %}
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
                <div class="sidebar">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
    </body>
</html>
