<!DOCTYPE html>
<html>
<head>
    <!-- 2 SCOOPS, 2 GENDERS, 2 TERMS -->
    <title>{{ page.title }} - egartley.net</title>
    {% include minheader.html %}
</head>
<body>
    <div class="root flex col">
        <div class="nav flex center-items">
            {% include navigationbar.html %}
        </div>
        <div class="content-container flex">
            <div class="page card">
                <div class="page-content flex col">
                    <span class="page-title">{{ page.title }}</span>
                    <span class="spacer"></span>
                    <span class="small-text" id="meta"><span class="bold">Last updated:</span> {{ page.last_updated }}</span>
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="sidebar card">
                {% include sidebar.html %}
            </div>
        </div>
        <div class="footer center-text">Last built on <span class="bold">{{ "now" | date: "%B %d, %Y at %I:%M %p (GMT)" }}</span></div>
    </div>
</body>
</html>
