<!DOCTYPE html>
<html>
<head>
    <!-- January 6th, 2021 -->
    <title>{{ page.title }} - egartley.net</title>
    {% include minheader.html %}
</head>
<body>
    <div class="root flex col">
        <div class="nav flex center-items grad-flow">
            {% include navigationbar.html %}
        </div>
        <div class="content-container flex">
            <div class="page card">
                <div class="page-content flex col">
                    <span class="page-title">{{ page.title }}</span>
                    <span class="spacer fill grad-flow"></span>
                    <span class="small-text" id="meta"><span class="bold">Last updated:</span> {{ page.last_updated }} (EST)</span>
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="sidebar card">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</body>
</html>
