<span class="home-container flex center-items">
    <a class="home-button" href="/">
        <img alt="home" src="/images/home-button.png">
    </a>
    <a class="home-title" href="/"><%= config[:site_title] %></a>
</span>
<span class="nav-elements flex center-items">
    <a class="hitbox center-text center-items flex col" href="https://github.com/egartley">
        <span class="nav-text flex center-items">GitHub <img style="margin-left:6px" src="/images/new-tab.png"></span>
        <div class="spacer"></div>
    </a>
    <a class="hitbox center-text center-items flex col" href="/projects">
        <span class="nav-text">Projects</span>
        <div class="spacer"></div>
    </a>
    <a class="hitbox center-text center-items flex col" href="/records">
        <span class="nav-text">Records</span>
        <div class="spacer"></div>
    </a>
</span>