<div class="widget">
    <div class="widget-title">Around the Web</div>
    <div class="widget-content widget-social">
        <div class="flex">
            <div class="flex">
                <div class="center-items">
                    <img alt="github" src="/images/nmn8uQRPqx4FOopD/github.png">
                    <span id="text"><a href="https://github.com/egartley" rel="external nofollow noreferrer noopener">GitHub</a></span>
                </div>
                <div class="center-items">
                    <img alt="youtube" src="/images/nmn8uQRPqx4FOopD/youtube.png">
                    <span id="text"><a href="https://www.youtube.com/@egartley" rel="external nofollow noreferrer noopener">YouTube</a></span>
                </div>
            </div>
            <div class="flex">
                <div class="center-items">
                    <img alt="linkedin" src="/images/nmn8uQRPqx4FOopD/linkedin.png">
                    <span id="text"><a href="https://www.linkedin.com/in/evan-gartley/" rel="external nofollow noreferrer noopener">LinkedIn</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="widget">
    <div class="widget-title">Currently Playing</div>
    <div class="widget-content widget-releaseradar">
        <style type="text/css">
            div.rrdiv{margin-bottom:12px;margin-left:-12px}div.rrdiv>img{margin-left:12px;width:72px;height:72px;border-radius:8px;border:1px solid #535353}
            img#eldie{background:url(/images/nmn8uQRPqx4FOopD/currently-playing.png) 0px 0px}
            img#ttyd{background:url(/images/nmn8uQRPqx4FOopD/currently-playing.png) -72px 0px}
            img#btbvr{background:url(/images/nmn8uQRPqx4FOopD/currently-playing.png) -144px 0px}
            img#resi8{background:url(/images/nmn8uQRPqx4FOopD/currently-playing.png) 0px -72px}
            img#tlou{background:url(/images/nmn8uQRPqx4FOopD/currently-playing.png) -72px -72px}
            img#gow{background:url(/images/nmn8uQRPqx4FOopD/currently-playing.png) -144px -72px}
        </style>
        <div class="flex rrdiv">
            <img src="/images/B1cZjrwAuuPI9Cyd/blank.png" id="eldie" title="Elden Ring (Convergence Mod) (PC)">
            <img src="/images/B1cZjrwAuuPI9Cyd/blank.png" id="ttyd" title="Paper Mario: The Thousand Year Door (Switch)">
            <img src="/images/B1cZjrwAuuPI9Cyd/blank.png" id="btbvr" title="Beat the Beats VR (PSVR 2)">
            <img src="/images/B1cZjrwAuuPI9Cyd/blank.png" id="gow" title="God of War: Ragnarok (PS5)">
        </div>
        <p><a href="/records/games">View all played games</a></p>
    </div>
</div>
<div class="spacer"></div>
<div class="widget">
    <div class="widget-content widget-build">
        <span style="color:lightgrey">
            <a href="/sitemap">Sitemap</a> • Release <a href="https://github.com/egartley/net"><%= Time.now.strftime("%y.%m%d-%H%M") %></a><br>
        </span>
    </div>
</div>
