---
title: Home
last_updated: March 16, 2025 at 2:28 PM
---

<div class="pcard-container flex" style="flex-flow:wrap">
	<div class="pcard flex col center-items card">
		<a class="center-text" href="/projects/beyond-origins"><img src="/images/nmn8uQRPqx4FOopD/beyond-origins.png"></a>
		<span id="title">Beyond Origins</span>
	</div>
	<div class="pcard flex col center-items card">
		<a class="center-text" href="https://github.com/egartley/game-tracker"><img src="/images/nmn8uQRPqx4FOopD/game-tracker.png"></a>
		<span id="title">Game Tracker</span>
	</div>
	<div class="pcard flex col center-items card">
		<a class="center-text" href="https://github.com/egartley/pegasus"><img style="margin-top:8px" src="/images/nmn8uQRPqx4FOopD/pegasus.png"></a>
		<span id="title">Pegasus</span>
	</div>
	<div class="pcard flex col center-items card" style="height:200px">
		<a class="center-text" href="https://github.com/egartley/site-manager"><img src="/images/nmn8uQRPqx4FOopD/site-manager.png"></a>
		<span id="title">Site Manager</span>
	</div>
</div>
<p>
	<b><a rel="external noreferrer nofollow noopener" href="https://github.com/egartley/appinventor-weather">appinventor-weather</a>:</b> final project submission for the "Brockport Coding Academy"<br>
	<b><a rel="external noreferrer nofollow noopener" href="https://github.com/egartley/emr">emr</a>:</b> final project for EDD class in high school, part of the PLTW curriculum<br>
	<b><a rel="external noreferrer nofollow noopener" href="https://github.com/egartley/exoplanets">exoplanets</a>:</b> visualizer and interface for confirmed exoplanets' data<br>
	<b><a rel="external noreferrer nofollow noopener" href="https://github.com/egartley/game-tracker">game-tracker</a>:</b> system for tracking information about games, eventually will replace the records page<br>
	<b><a rel="external noreferrer nofollow noopener" href="https://github.com/egartley/misc-python">misc-python</a>:</b> random scripts written in Python, either fun or useful<br>
	<b><a rel="external noreferrer nofollow noopener" href="https://github.com/egartley/tsp">tsp</a>:</b> Final project for AP Computer Science in the 2017-2018 school year
</p>
<div class="flex" style="margin-top:36px">
	<div class="flex center-items">
        <img alt="github" src="/images/nmn8uQRPqx4FOopD/github.png" style="width:38px;margin-right:8px">
        <span id="text"><a href="https://github.com/egartley" rel="external nofollow noreferrer noopener">GitHub</a></span>
    </div>
    <div class="flex center-items" style="margin-left:36px">
        <img alt="youtube" src="/images/nmn8uQRPqx4FOopD/youtube.png" style="width:42px;margin-right:8px">
        <span id="text"><a href="https://www.youtube.com/@egartley" rel="external nofollow noreferrer noopener">YouTube</a></span>
    </div>
    <div class="flex center-items" style="margin-left:36px">
        <img alt="linkedin" src="/images/nmn8uQRPqx4FOopD/linkedin.png" style="width:36px;margin-right:8px">
        <span id="text"><a href="https://www.linkedin.com/in/evan-gartley/" rel="external nofollow noreferrer noopener">LinkedIn</a></span>
    </div>
</div>